# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.opendb
*.db
*.idb
*.res
*.log
*.tlog
*.lastbuildstate
*.ilk
*.suo
0806_임시프로젝트파일_ 하영/GP_subproject_first/Debug/GP_subproject_first.vcxproj.FileListAbsolute.txt
